:root {
  --main-color: rgba(0, 0, 0, 0.8);
  --disabled-color: rgba(0, 0, 0, 0.3);
}

input {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--disabled-color);
  padding: 10px;
  width: 80%;
}

input:focus {
  border-color: var(--main-color);
  transition: all 0.3s;
}

button {
  border: none;
  background-color: var(--disabled-color);
  color: white;
  border-radius: 5px;
  padding: 10px;
}

button:hover {
  background-color: var(--main-color);
  transition: all 0.4s;
}

.ir {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

.title {
  background-color: var(--main-color);
  color: white;
  padding: 20px 0;
  text-align: center;
}

.menu_bar {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

main {
  display: flex;
  height: 700px;
}

.today-todos,
.tomorrow-todos {
  border: 1px solid black;
  width: calc(50% - 2px);
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section h2 {
  font-weight: 600;
}

.add-form {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.add-button {
  padding: 10px 15px;
}

footer {
  background-color: var(--main-color);
  color: white;
  text-align: center;
  padding: 49px 0;
}
